.card {
  display: inline-block;
  height: 14rem;
  text-overflow: ellipsis;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card > img {
  float: left;
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.card > body {
  float: right;
  width: 80%;
  font-family: Georgia;
  max-lines: 3;
}

.world-section-style {
  color: white;
  background-color: #7c4eff;
}

.politics-section-style {
  color: white;
  background-color: #419387;
}

.business-section-style {
  color: white;
  background-color: #4796ec;
}

.technology-section-style {
  color: black;
  background-color: #cedc39;
}

.sports-section-style {
  color: black;
  background-color: #f7c242;
}

.health-section-style {
  color: white;
  background-color: #6e757c;
}

.guardian-source-style {
  color: white;
  background-color: #15284a;
}

.nytimes-source-style {
  color: black;
  background-color: #dddddd;
}