.card > body {
  float: top;
  height: 100%;
  display: inline-block;
  max-lines: 3;
}

.image-container {
  margin-top: 25px;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  border: solid 10px;
  border-width: 1px;
  border-color: #DBDDDF;
  padding: 5px;
  float: left;
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  height: 100%;
}