.card {
  display: inline-block;
  height: 14rem;
  text-overflow: ellipsis;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card > img {
  float: left;
  width: 20%;
  height: 100%;
  object-fit: cover;
}

.card > body {
  float: right;
  width: 80%;
  font-family: Georgia;
  max-lines: 3;
}
