.loader-container {
    display: flex;
    height: 100vh;
}

.inner-loader-container {
    margin: 0 auto;
    align-self: center;
}

.card-grid-container {
    display: table;
    border-collapse: separate;
    border-spacing: 15px 40px;
    margin-top: -25px;
}