button {
    border: 0;
    /*padding: 0;*/
    background-color: white;
}

/*.card-compact-container {*/
/*    display: table-cell;*/
/*}*/

.card-compact {
    float: left;
    width: 375px;
    padding: 20px;
    margin: 5px;
}

.card-compact > img {
    height: 20%;
    width: 100%;
    display: block;
}

.card-compact > .image-container {
    margin: auto;
    border-radius: 5px;
    border: solid 10px;
    border-width: 1px;
    border-color: #DBDDDF;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}