button {
    border: 0;
    background-color: white;
}


.card-compact > body {
    max-lines: 3;
    width: 100%;
    border: solid green 1px;
}

.card-compact-image-border {
    width: 90%;
    height: 90%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .card-compact-image-border {
        height: 90%;
    }
}

.footer-container {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.badgeCol > .badge {
    font-size: 11px;
}

.badgeCol {
    float: right;
    overflow: hidden;
    white-space: nowrap;
}

.footer-container > p {
    font-style: italic;
}