button {
    border: 0;
    background-color: white;
}

.card-compact {
    padding: 20px;
    margin: 5px;
}

.card-compact > body {
    max-lines: 3;
    width: 100%;
    border: solid green 1px;
}

.card-compact-image-border {
    width: 90%;
    height: 20vh;
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .card-compact-image-border {
        width: 90%;
        height: 30vh;
        margin-bottom: 10px;
    }
}

.footer-container {
    display: inline;
    vertical-align: middle;

}

.badgeCol {
    float: right;
}