div > img {
    max-height: 100%;
    max-width: 100%;
}

.light-toast {
    background: white;
    color: black;
}

.card-detail-container {
    display: flex;
    width: 100%
}

.card-detail {
    margin: 15px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
    border-radius: 5px;
}