div > img {
    max-height: 100%;
    max-width: 100%;
}

.light-toast {
    background: white;
    color: black;
}

.card-detail-container {
    display: flex;
    width: 100%
}

.card-detail {
    margin: 15px;
    padding-bottom: 20px;
}