.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    border: solid #EAE9EA 1px;
}

.card-title {
    font-style: italic;
    font-weight: bold;
}

.card-text {
    font-style: italic;
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.badge {
    color: white;
    background-color: #6e757c;
}

.badge-world {
    color: white;
    background-color: #7c4eff;
}

.badge-politics {
    color: white;
    background-color: #419387;
}

.badge-business {
    color: white;
    background-color: #4796ec;
}

.badge-technology {
    color: black;
    background-color: #cedc39;
}

.badge-sports {
    color: black;
    background-color: #f7c242;
}

.badge-guardian {
    color: white;
    background-color: #15284a;
}

.badge-nytimes {
    color: black;
    background-color: #dddddd;
}
